[submodule "linux"]
	path = linux
	url = https://github.com/r4v10l1/arch-files
[submodule "browser"]
	path = browser
	url = https://github.com/r4v10l1/browser-homepage
[submodule "vim"]
	path = vim
	url = https://github.com/r4v10l1/vim-dotfiles
[submodule "windows"]
	path = windows
	url = https://github.com/r4v10l1/cmder-dotfiles
