[submodule "linux"]
	path = linux
	url = https://github.com/8dcc/linux-dotfiles
	branch = main
	update = merge
[submodule "browser"]
	path = browser
	url = https://github.com/8dcc/browser-homepage
	branch = main
	update = merge
[submodule "vim"]
	path = vim
	url = https://github.com/8dcc/vim-dotfiles
	branch = main
	update = merge
[submodule "windows"]
	path = windows
	url = https://github.com/8dcc/windows-dotfiles
	branch = main
	update = merge
[submodule "emacs"]
	path = emacs
	url = https://github.com/8dcc/emacs-dotfiles
